*{
    margin: 0;
    padding: 0;
}
/* .grid-cont{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.grid-item{
    background-color: blue;
    width: 400px;
    height: 80px;
    font-size: 3em;
    color: white;
} */
body{
    background-color: aqua;
}
.cont{
    margin-top: 8%;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px 300px;
    justify-content: space-around;
}
.logo h1{
    text-align: center;
    font-size: 3em;
    margin-top: 8%;
}
span{
    color: orangered;
}
hr{
    width: 260px;
    margin-top: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid orangered;
    margin-left: 40%;
}
.box{
   background-color: white;

}
.box i{
    margin-left: 45%;
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 40px;
    color: orangered;
}
.box h1{
    text-align: center;
    color: orangered;
}
.box p{
    color: gray;
    text-align: center;
}